#hero {
  position: relative;
  text-align: center;
  top: 120px;
  height: 400px;
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  margin-bottom: 1em;
}

header h2 {
  color: #FFF;
  margin: 0 auto;
}

header img {
  margin-top: 1em;
}