form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 2em;
}

textarea {
  overflow: auto;
  height: 41px;
  background-color: #f4f1eb;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  font-size: 20px;
  color: #000;
  margin-bottom: 0.5em;
}

form span {
  color: #545149;
  font-size: 24px;
  font-family: Bungee;
  width: 75%;
  text-align: right;
}

form input {
  background-color: #4056a1;
  font-size: 16px;
  font-family: Bungee;
  color: #FFF;
  padding: 0.25em;
  width: 25%;
}

.counter {
  font-size: 16px;
}